管理者商品一覧

<h1>商品一覧</h1>

<% @items.each do |item| %>


  <table class="table table-bordered w-50 "style="margin-left: 50px">

     <tr>
         <td class="col-4">商品ID</td>
         <td class="col-4">商品名</td>
         <td class="col-4">税抜き価格</td>
         <td class="col-4">ジャンル</td>
         <td class="col-4">ステータス</td>
     </tr>

     <tr>
         <td class="col-4"><%= item.id %></td>
         <td class="col-4"><%= item.name %></td>
         <td class="col-4"><%= item.introduction %></td>
         <td class="col-4"><%= item.price %></td>
         <td class="col-4"><%= item.genre.name %></td>
         <td class="col-4"><% if item.is_active? %>
                              <p class="text-success">販売中</p>
                                <% else %>
                                販売停止
                                <% end %>
                                                  </td>
     </tr>

  </table>

<% end %>
<%= link_to "新規登録",new_admin_item_path,class:"btn btn-success" %>