管理者側商品詳細ページ


　<tr>
   <td class="col-4">商品</td>

  <% if @item.image.attached? %>
  <td>  <%= image_tag item.image, size: "200x200" %>
  <% else %>
    <%= image_tag 'no_image', size: "200x200" %>
  <% end %></td>
   <td class="col-4"><%= @item.image %></td>
   <td class="col-4"><%= @item.name %></td>
   <td class="col-4"><%= @item.price %></td>
   <td class="col-4"><%= @item.genre.name %></td>
   <td class="col-4"><%= @item.is_active %></td>
 </tr>
 <tr>
   <td class="col-4"><%= @item.id %></td>

  <% if @item.image.attached? %>
  <td>  <%= image_tag item.image, size: "200x200" %>
  <% else %>
    <%= image_tag 'no_image', size: "200x200" %>
  <% end %></td>
   <td class="col-4"><%= @item.image %></td>
   <td class="col-4"><%= @item.name %></td>
   <td class="col-4"><%= @item.price %></td>
   <td class="col-4"><%= @item.genre.name %></td>
   <td class="col-4"><%= @item.is_active %></td>
 </tr>