<div class=" bg-secondary" style="margin-left: 50px; font-size: 20px; width:90px; padding-left:4px;" >商品詳細</div>

<div class="container d-flex ">
 <div class="row">
  <p><%= image_tag @item.image ,size: "200x200" %></p>
 </div>
 <div class="row" style="padding-left:80px;">

   <table>
     <tr>
      <td>商品名</td>
      <td></td>
      <td><%= @item.name %></td>
     </tr>

     <tr>
      <td>本文</td>
       <td></td>
      <td><%= @item.introduction %></td>
     </tr>

     <tr>
      <td>ジャンル</td>
       <td></td>
      <td><%= @item.genre.name %></td>
     </tr>

      <tr>
      <td>税抜き価格（税込価格）</td>
       <td></td>
      <td><%= @item.price %>(<%= (@item.price*1.1).floor %>)円</td>
     </tr>

      <tr>
      <td>販売ステータス</td>
       <td></td>
      <td><p><% if @item.is_active? %>
          <p class="text-success font-weight-bold">販売中</p>
            <% else %>
          <p>販売停止</p>
            <% end %></td>
      </tr>
   </table>
  </div>
</div>
<div style="padding-left:400px;"><%= link_to "編集する",edit_admin_item_path,class:"btn btn-success" %></div>

