ジャンル一覧・追加

<%= form_with model: @genre, url:  admin_genres_path, method: :post  do |f| %>


<h4>ジャンル名<h4>
<%= f.text_field :name %>
<%= f.submit '新規登録' ,class:"btn btn-success w-45" %>

<% end %>

<h5>ジャンル</h5>
<%  @genres.each do |genre| %>

<table class="table w-53 "style="margin-left: 50px ">

     <tr>
         <td class="col-2"><%= genre.name %></td>
         <td class="col-3"><%= link_to  "編集する",edit_admin_genre_path(genre.id),class:"btn btn-success w-45"%></td>

     </tr>

</table>
<% end %>