
<h5 class="fs-1" style= "margin-left: 50px; background-color:#adb5bd; width: 190px;">ショッピングカート</h5>

<div class="container">


<% @cart_items.each do |cart_item| %>
 <div class="row">
  <table style="margin-left: 970px">
   <tr>
    <td><%= link_to 'カートを空にする', cart_items_destroy_all_path(cart_item.id), method: :delete ,class:'btn btn-danger'%></td>
   </tr>
  </table>
 </div>
<div class="row">
  <table class="table table-bordered w-70 "style="margin-left: 50px">

     <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <td></td>
     </tr>

     <tr>
      <td><%= cart_item.item.name %></td>
      <td><%= cart_item.item.with_tax_price %></td>
      <td><%=form_with model: cart_item, url: cart_item_path(cart_item.id), method: :patch do |f|%>
         <%= f.hidden_field :title, :value => "楽しいRuby" %>
         <%= f.select :amount, options_for_select(0..10, {selected: cart_item.amount.to_i} )%>
         <%= f.submit '変更' ,class:"btn btn-success w-45" %>
         <% end %></td>
      <td><%= cart_item.subtotal %></td>
      <td><%= link_to '削除',cart_item_path(cart_item.id), method: :delete,class:'btn btn-danger' %></td>
     </tr>
  </table>
</div>
<div class="row">
  <div style="padding-left:50px;"><%= link_to '買い物を続ける', items_path, method: :get ,class:'btn btn-primary'%></div>
 <!--<table class="table table-bordered w-40"style="margin-left: 50px">-->
 <table class="table-bordered" style="width:20%; margin-left: 970px ">
    <tr>
     <td><%= cart_item.subtotal %></td>
     <th>合計金額<% @total +=  cart_item.subtotal %></th>
    </tr>
  </table>
</div>

<% end %>


　<div  style="text-align: center;"><%= link_to '情報を入力する', new_order_path, method: :get,class:'btn btn-success' %></div>



</div>