注文情報入力画面(支払方法・配送先の選択)

<% if @order.errors.any? %>
  <%= @order.errors.count %>件のエラーが発生しました
  <ul>
    <% @order.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @order, url:  orders_confirm_path, method: :post do |f| %>

支払い方法
<p><%= f.radio_button :payment_method, Order.payment_methods.key(0) %></p>
<p><%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %></p>

<p><%= f.radio_button :payment_method, Order.payment_methods.key(1) %></p>
<p><%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%></p>

お届け先
<p><%= f.radio_button :select_address,0 %>
   <%= f.label :select_address, "ご自身の住所"%>
   <%= current_customer.address %>
   <%= current_customer.postal_code %>
   <%= current_customer.last_name %><%= current_customer.first_name %>

 </p>


<label class="fz16"><%#= radio_button_tag"select_address",1 %><%= f.radio_button :select_address, 1 %>登録済住所から選択</label>
    <%= f.select :address_id, options_from_collection_for_select(current_customer.addresses, :id, :address), prompt: "住所を選択してください" %>

    <%= f.radio_button :select_address, 2 %>
    <%= f.text_field :delivery_address %>
    <%= f.text_field :delivery_target_postal_code %>
    <%= f.text_field :delivery_target_full_name%>
    <%= f.submit '確認画面に進む',class:"btn btn-success" %>



<% end %>