
<div class="container">
  <div class="row">
    <h5 class=" p-2 mr-2 mb-3" style="background-color:#adb5bd;">ログイン</h5>

  </div>
   <div class="row">
  　<h6 class="p-2 mr-2 " style="background-color:#adb5bd;">会員の方はこちらからログイン</h6>
   </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row">
        <div class="col-3 pt-3"><%= f.label "メールアドレス" %></div>
        <div class="col-9 pt-3"><%= f.email_field :email, autofocus: true, autocomplete: "email", :size=>"50"%></div>
      </div>

      <div class="row">
        <div class="col-3 pt-3"><%= f.label "パスワード" %></div>
        <div class="col-9 pt-3"><%= f.password_field :password, autocomplete: "current-password", :size=>"50" %></div>
      </div>


     <div class="row">
      <div class="mx-auto pt-3">
        <%= f.submit "ログイン" %>
      </div>
     </div>
    <% end %>
   <div class="row">
       <div class=" pt-3"><h6 class="p-2 ml-3" style="background-color:#adb5bd;">会員登録がお済みでない方</h6></div>
   </div>
   <div class="row">
      <div class="mx-auto ml-2 pt-3"><%= render "public/shared/links" %></div>
   </div>
    </div>
  </div>
 </div>


</div>