

<div class="container">
 <h5>商品一覧</h5>
 <div class="row">
<% @items.each do |item| %>
  <div class="col">
      <div><%= link_to  item_path(item.id) do %>
        <%= image_tag item.image, size: "200x200" %>
           <% end %>
           </div>
      <div class="font-weight-bold"><%= item.name %></div>
      <div class="font-weight-bold">¥<%= item.price %>円</div>
  </div>

<% end %>
 </div>
</div>
<%= paginate @items %>