の詳細ページ

<h2>画像</h2>
<p><%= image_tag @item.image ,size: "200x200" %></p>
<p><%= @item.name %></p>
<p><%= @item.introduction %></p>
<p><%= (@item.price*1.1).floor %>円</p>

<%= form_with model:@cart_item , url:cart_items_path, method: :post do |f| %>

<p><%= f.select :amount,*[1..10] ,{ include_blank: '--個数選択--', selected: 0 }%>個</p>
   <%= f.hidden_field :item_id, :value => @item.id %>
<p><%= f.submit 'カートに入れる' ,class:"btn btn-success w-45" %></p>
<% end %>